<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    <tr th:each="user : ${user}">
        <td th:utext="${user.id}"></td>
        <td th:utext="${user.name}"></td>
        <td><a th:href="@{'/edit?id=' + ${user.id}}" th:utext="Edit"></a></td>
        <td><a th:href="@{'/delete?id=' + ${user.id}}" th:utext="Delete"></a></td>
    </tr>
</table>
<div><a th:href="@{new}">Create</a></div>
</body>
</html>